@model List<DAL.Models.Products>

<div id="productDisplay" class="container-fluid proddisplay">
    @foreach(var prod in Model)
            {
                <div id="@prod.ProductID" class="card productcard rounded">
                    <div class="prodcardimage rounded">
                        @if(prod.ProductImage!=null)
                        {
                            <img src="@prod.ProductImage" class="card-img-top" />
                        }
                    </div>
                    <div class="card-body" style="padding-left: 0.5rem; padding-right: 0.5rem;">
                        <h5 class="card-title prodtitle" style="text-align: center;"><b>@prod.ProductName</b></h5>
                        <ul class="prodsum">
                            @foreach(var prop in prod.PropertyValue)
                            { 
                                <li style="text-align: center; font-size: 14px;">@prop.PropertyValue1 <b>@prop.Property.PropertyName</b></li>
                            }
                        </ul>
                    </div>
                </div>
            }
</div>
