@model GroupProject_Joole.Models.ModelUser

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/SignUp.cshtml";
    /*Layout = "~/Views/Shared/LoginPartial.cshtml";*/
}


<style>
        /*web background*/
        body {
            height: 100vh;
            width: 100%;
            background: linear-gradient(#0094ff,white);
        }
        .container {
            display: table;
            height: 100%;
            vertical-align: middle;
        }

        .row.well {
            display: table-cell;
            vertical-align: middle;
        }
        /* centered columns styles */
        .row-centered {
            text-align: center;
        }

        .col-centered {
            display: inline-block;
            float: left;
            /*text-align:center;*/
            margin-right: -4px;
        }

        P {
            margin-bottom: 2.5px;
        }
    </style>




    <div class="container">
        <div class="row row-centered">
            <div class="well col-md-11">
                <h4 align="left">Register as User</h4>
                <hr />
                <div class="col-md-11">
                    <p><label>Image Preview</label></p>
                    <img src="~/Image/Image.png" width="120" height="120" alt="" />
                    <p><label>Your Profile Pic</label></p>
                    <button>Choose File</button><label>No file choseen</label>
                    <br />


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-label">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label float-start" })
                    </div>
                    <div class="col-md-offset-4">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control float-end" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>

                    <br />
                    <br />

                    <div class="">
                        @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "control-label float-start" })
                        <div class="col-md-offset-4">
                            @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control float-end" } })
                            @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />
                    <br />

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "control-label float-start" })
                        <div class="col-md-offset-4">
                            @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control float-end" } })
                            @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />
                    <br />

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserConPassword, htmlAttributes: new { @class = "control-label float-start" })
                        <div class="col-md-offset-4">
                            @Html.EditorFor(model => model.UserConPassword, new { htmlAttributes = new { @class = "form-control float-end" } })
                            @Html.ValidationMessageFor(model => model.UserConPassword, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <br />
                    <br />

                    <div class="form-group ">
                        <div class="float-end">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                }


            </div>

           </div>

     </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
